<nav class="navbar is-brown fixed-top">
  <div class="container-fluid">
    <a class=" is-white navbar-brand " routerLink="">Fundo</a>

    <div class="buttons">
      <button class="btn " type="submit"><i class="bi bi-search is-white"></i></button>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="bi bi-grid is-white"></i>
      </button>
    </div>

    <div class="offcanvas is-brown  offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title is-white " id="offcanvasNavbarLabel">Menu</h4>

        <button type="button" class="btn-close " data-bs-dismiss="offcanvas"  aria-label="Close "></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          @for (item of items;track item; ){
            <li class="nav-item">
              <a class="nav-link  is-white  " aria-current="page" [routerLink]="item.route"  >
                <i [class]="item.icon " class="is-white"></i>
                {{item.name | titlecase }}
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
