<div class="snippets is-white">
  <div class="spells">
    <div class="text-zone margin-texts">
      <h1 class="title is-white">
        Inscrivez-vous maintenant <br>et bénéficiez d’une réduction exceptionnelle !
      </h1>
      <p class="paragraph is-white">the future is now</p>
      <div class="buttons">
        <button class="btn btn-buy is-white">buy now</button>
        <button class="btn btn-explore is-white">explore</button>
      </div>
    </div>

    <div class="container-photo">
      <img class="photo" alt="..." src="./assets/images/teach.jpg" width="800">
    </div>
  </div>
</div>
