<div class="snippets is-white">
  <div class="spells">
    <div class="text-zone margin-texts">
      <h1 class="title is-white">
        Inscrivez-vous maintenant <br>et bénéficiez d’une réduction exceptionnelle !
      </h1>
      <p class="paragraph is-white">the future is now</p>
      <div class="buttons">
        <button class="btn btn-buy is-white">buy now</button>
        <button class="btn btn-explore is-white" routerLink="/students">explore</button>
      </div>
    </div>

    <div class="container-photo mb-5">
      <img class="photo" alt="..." src="./assets/images/teach.jpg" >
    </div>
  </div>
</div>
<div class="container  offers">
  <div class="row">
    <div class="col-7 mr-5 ">
          <h2 class="offer-title title  ">What we are <br>offering</h2>
          <h5>Property facilities</h5>
          <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
    </div>
    <div class="col mr-3  mt-5">
        <div class="card main-gym bg-grey paddings text-center ms-2">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
          </div>
          <img src="./assets/images/gym.png" alt="..."  class="gym-photo ">
          <h2 >Gym</h2>
        </div>
      </div>
    <div class="col-2 align-items-center parks mt-5  "  >
        <div class="  paddings mt-5 g-5 text-center float-end ">
          <img src="./assets/images/parking.png" alt="..."  class="gym-photo ">
          <h2 class="mt-4">Parking</h2>
        </div>
      </div>


  </div>

</div>
