<div class="container">
  <div class="card ">
    <h1 class="card-header">New Student</h1>
    <form [formGroup]="formGroup"  (ngSubmit)="onSubmit()">
      <div class="card-body ">
        <div class="mb-3 ms-5">
          <label for="fullname" class="form-label">Full name</label>
          <div class="input-group flex-nowrap mb-3">
            <input id="fullname"  type="text" class="form-control" formControlName="nom_complet" placeholder="Enter your fullname" aria-label="Fullname" aria-describedby="addon-wrapping" required>
          </div>
          <div *ngIf="nom_complet?.invalid && (nom_complet?.dirty || nom_complet?.touched)"  class=" text-danger">
            <div *ngIf="nom_complet?.errors?.['required']">Full Name is required</div>
          </div>
        </div>
        <div class="mb-3 ms-5 ">
          <label for="email" class="form-label">Email</label>
          <div class="input-group mb-3">
            <input id="email" type="email" formControlName="email" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="addon-wrapping">
          </div>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"  class="text-danger">
            <div *ngIf="email?.errors?.['required']">Email is required </div>
            <div *ngIf="email?.errors?.['email']">The provided email is invalid</div>
          </div>
        </div>
        <div class="mb-3 ms-5">
          <label for="phone" class="form-label">Phone</label>
          <div class="input-group mb-2">
            <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="addon-wrapping">
          </div>
          <div *ngIf="telephone?.invalid && (telephone?.dirty || telephone?.touched)" class="text-danger">
            <div *ngIf="telephone?.errors?.['required']">Phone number is required</div>
            <div *ngIf="telephone?.errors?.['pattern']">Phone number is invalid</div>
          </div>
        </div>
        <div class="mb-3 ms-5">
          <label for="classe" class="form-label">Class</label>
          <div class="input-group mb-2">
            <input id="classe" formControlName="classe" type="text" class="form-control" placeholder="Class" aria-label="Phone" aria-describedby="addon-wrapping">
          </div>
          <div *ngIf="classe?.invalid && (classe?.dirty || classe?.touched)" class="text-danger">
            <div *ngIf="classe?.errors?.['required']">Class is required</div>
            <div *ngIf="classe?.errors?.['minlength']"> Class must be at least 4 characters long. </div>
          </div>
        </div>

          <div class="send mt-3">
            <button class="btn " type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" >Register</button>
          </div>


      </div>
    </form>
  </div>

</div>

<!-- Modal -->

  <app-modal  [hidden]="hiddens()" [message]="message()"    [routerLink]="redirect()" ></app-modal>

